<div class="panel panel-default">
  <div class="panel-body">  
    <h3><%= @link.title %></h3>
    <p><%= @link.url %></p>




<div> <br />
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary"><%= link_to 'View Link', @link.url, target:"blank", class:"btn-link" %></button>
    <% if user_signed_in = current_user %>
      <button type="button" class="btn btn-success"><%= link_to 'Edit', edit_link_path(@link), class:"btn-link" %></button>
      <button type="button" class="btn btn-danger"><%= link_to 'Delete', @link, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn-link" %></button>
    <% end %>
  </div>
</div>

 </div>
</div>

